<%- include ("partials/header.ejs") %>

    <section class="beranda" id="beranda">

        <div class="content">
            <h3>Halo, Selamat Datang Rajuters!</h3>
            <span>Yuk belajar merajut bersama OwianaCrafts!</span>
            <p></p>
        </div>

    </section>

    <section class="icons-container">

        <div class="icons">
            <img src="yarnlogo.jpg" alt="">
            <div class="info">
                <h3>Tahukah kamu?
                    <br>Selain melatih fokus dan konsentrasi, merajut juga dapat membantu mengurangi risiko depresi dan
                    penyakit neurodegeneratif seperti demensia lho!
                </h3>
            </div>
        </div>
    </section>

    <section class="tentang" id="tentang">

        <h1 class="heading"> <span> Tentang </span> Aplikasi </h1>

        <div class="row">
            <div class="video-container">
                <video src="vidio.mp4" loop autoplay muted></video>
                <h3>amigurumi best sellers</h3>
            </div>

            <div class="content">
                <h3>why choose us?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, nemo nobis et qui accusantium
                    eligendi nihil minus sapiente ipsum ducimus totam debitis, laboriosam libero provident aliquam
                    pariatur. Tempore, repudiandae nobis?</p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-box">
            <h2>OwianaCrafts!</h2>
            <p>Kontak Kami</p>
            <p>0822-1893-1413</p>
        </div>
    </section>

    </body>

    </html>